<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
        Tenon - Decentralized VPN
    </title>
    <meta name="description" content="Lantern delivers fast, reliable and secure access to the open internet. Download Lantern for free access to blocked videos, news, social media and more. Available for Windows, Android, Mac, Ubuntu.">
    <meta name="viewport" content="width=device-width">
    <link rel="alternate" href="../en_US/index.html" hreflang="x-default">
    <link rel="icon" sizes="124x124" href="/favicon.ico?v=2">
    <link rel="shortcut icon" href="/favicon.ico?v=2">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/dropdown_style.css">
    <link rel="stylesheet" href="../static/css/noJS.css">
    <link rel="stylesheet" href="../static/js/slick/slick.css">
    <link rel="stylesheet" href="../static/js/slick/slick-theme.css">
    <script src="../static/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
    <header class="fixed">
        <div class="header-wrapper">
            <h1>
                <a href="index.html">
                    <img src="../static/images/tenon_en.png" alt="Tenon">
                </a>
            </h1>
            <div id="dd" class="select-dropdown" tabindex="1">
                选择语言
                <ul class="dropdown">
                    <li>
                        <a href="../en_US/index.html">
                            English (United States)
                        </a>
                    </li>
                    <li>
                        <a href="../zh_CN/index.html">
                            简体中文
                        </a>
                    </li>
                </ul>
            </div>
            <a href="/file/whitepaper.pdf/no" style="color: #333333; text-decoration: none; text-transform: uppercase; font-weight: 500;">
                WhitePaper
            </a>
            <a target="_blank" href="https://tenon.network/" style="color: #333333; text-decoration: none; text-transform: uppercase; font-weight: 500;">
                BlockBrowser
            </a>
        </div>
    </header>
    <section class="w100 intro-desktop" id="intro-desktop">
        <div style="height: 15rem !important">
            <h2>
                Privacy Policy
            </h2>
        </div>
    </section>

    <div style="width: 800px;height: 350px;margin: auto;top: 100px;left: 0;right: 0;bottom: 0;">
        <div class="feat-col" style="width:850px;height:120px;margin-top:50px;border:0px solid #E2E2E2;float:left;text-align: left !important;">
            <p style="float:left;width:850px;margin-top:20px;">
                By using the TenonVPN anonymous Internet service "VPN", you understand, accept and agree to the following terms of use:<br><br>
                In this Agreement, “you” means the customer of the TenonVPN service, the customer of the TenonVPN application. "We" or "our" refers to the service itself of TenonVPN.org.<br><br>
                Given your use of the app, we are committed to providing you with the best VPN services, including the best privacy protection and the shortest downtime possible.<br><br>
                TenonVPN respects the privacy of its customers. Therefore, when you enter the tenon VPN network and payment, all information you voluntarily provide will not be disclosed to third parties unless you violate TenonVPN.org's Terms of Use and Privacy Policy or violate local laws or international law. Anyone, including the TenonVPN.org management team, is not able to access these details or share them with others.<br><br>
                You are solely responsible for all activities involving your account. At the same time, you must respect and accept all risks of breach of entrustment, local, state, national or international law.<br><br>
                You agree not to share your account with others. However, you can use your account to log in on multiple devices, but not both.<br><br>
                You agree to receive advertisements and news from TenonVPN.<br><br>
                You agree that we do not have any guarantees about the services provided. We are not responsible for any loss, direct or indirect, incidental or inconvenience, or loss of profits that may result from the use of our services. TenonVPN.org will not refund any fees paid or payable.<br><br>
                We cannot guarantee the speed of your network connection. At the same time, we cannot guarantee that network service interruptions caused by your network service provider will not occur. Because we can't control the network operations in your location.<br><br>
                We are not responsible for any (realized or unrealized) losses arising from the use, or during use, or the use of TenonVPN networked user services. In short, TenonVPN.org will never be liable for economic losses other than payment by users to TenonVPN.org.<br><br>
                <br><br>
                You agree to:<br>
                We will not use our services to illegally invade or attack any computer, device, server or network.<br><br>
                We will not use our services to scan (port scan) or break into a computer, device, server or network.<br><br>
                We will not use our services to distribute viruses, trojans, worms and other malware or unwanted software.<br><br>
                We will not use our services to promote or promote criminal activities.<br><br>
                We will not use our services to promote or promote terrorist activities.<br><br>
                Will not use our services to trade, sell or distribute child pornography or distribute illegal information<br><br>
                We will not use our services to send spam, threatening emails, unsolicited text messages or related scams.<br><br>
                We reserve the right to terminate your account without notice or refund when we receive a complaint from an Internet Service Provider, company or user about illegal activities on your account.<br><br>
                If we receive a report from a network provider, company or other user regarding the illegal activities of your account, we have the right to cancel your account without prior notice or refund.<br><br>
                We reserve the right to terminate the service two weeks in advance. If the service has been purchased, the refund will be made according to the service termination date.<br><br>
            </p>
        </div>
    </div>
    <script src="../static/js/vendor/jquery-1.10.1.min.js"></script>
    <script src="../static/js/vendor/platform.min.js"></script>
    <script src="../static/js/slick/slick.min.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/download.js"></script>

</body>
</html>
