<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Tenon Pay</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/adminlet/components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/adminlet/components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/adminlet/components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/adminlet/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/adminlet/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue layout-top-nav">
    <div class="wrapper" style="background-color:#ecf0f5">
        <div class="content-wrapper">
            <section class="content">
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <div class="box box-warning box-solid" id="start_step" style="display:block">
                            <div class="box-header">
                                <h3 class="box-title">
                                    Paypal
                                </h3>
                            </div>
                            <div class="box-body">
                                <div class="error-page">
                                    <h2 class="headline text-green" style="font-size:40px">Done</h2>
                                    <div class="error-content" style="margin-left:120px">
                                        <h3>
                                            <i class="fa fa-warning text-green"></i>
                                            Succedded became a VIP.<br />
                                            <h5 class="headline text-red" style="font-size:20px">Be sure to keep your private key.</h5>
                                        </h3>

                                        <p>
                                            <b>You have these permissions:</b> <br />
                                            1. Unlimited traffic.<br />
                                            2. Unlimited bandwidth.<br />
                                            3. Intelligent routing optimization.<br />
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </section>
        </div>

    </div>
    <footer class="main-footer">
        <div class="container">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.1
            </div>
            <strong>Copyright &copy; 2018-2019 <a href="javascript:void(0);">Tenon</a>.</strong> All rights reserved.
        </div>
    </footer>

</body>

</html>
